body{
    margin: 0;
    padding: 0;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 2vw 2vh 2vw 2vh;
    background-color: blueviolet;
    color: bisque;
    line-height: 14vh;
}

/* flex direction */

/* .container{
    display: flex;
    flex-direction: row-reverse;  
} */

/*property-value of css*/

/* flex wraps */

/* .container{
    display: flex;
    flex-wrap: nowrap;
} */

/* justify content -> elements just in one row*/

/* align content -> takes all the elements from the container*/

/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

/* align items -> for vertival alignments*/
/* .container{
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    
} */

/* to use with align-items: baseline */

/* .container div:first-child{
    height: 40px;
}

.container div:last-child{
    height: 200px;
} */

/* flex order */

/* order */

/* .container{
    display: flex;
}

#uno{
    order:2;
}

#dos{
    order: 3;
}

#tres{
    order:1;
} */

/* flex (for the kids) */

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#uno{
    flex: 4;
}

#dos{
    flex: 1.5;
}

#tres{
    flex: 3;
}